<meta charset="utf-8" />
<title>Le titre de la page ici</title>
<link rel="shortcut icon" href="../../../assets/Test/css/favicon.gif" />
<meta name="description" content="Description de la page pour Google." />
<meta name="author" content="FreePixel" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
<link
  rel="stylesheet"
  media="screen"
  href="../../../assets/Test/css/style.css"
/>

<!-- particles.js container -->
<div id="particles-js">
  <h1>Un titre ici<br /><span class="mini">Un slogan ou une phrase</span></h1>
  <p class="copyright">© 2016 Votre copyright ici</p>
</div>
<!-- scripts -->
<script src="../../../assets/Test/js/particles.min.js"></script>
<script src="../../../assets/Test/js/app.js"></script>
