<!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2> -->
<link
  href="../../../assets/particular/css/bootstrap.min.css"
  rel="stylesheet"
/>

<link
  href="../../../assets/particular/css/business-casual.min.css"
  rel="stylesheet"
/>

<!-- Bootstrap core JavaScript -->
<script src="../../../assets/particular/jquery/jquery.min.js"></script>
<script src="../../../styles/bootstrap/bootstrap.bundle.min.js"></script>

<div class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0 small">Copyright &copy; Your Website 2019</p>
  </div>
</div>
