<nav
  class="navbar navbar-expand-lg navbar-dark py-lg-4 Sidebar"
  id="mainNav"
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
>
  <a class="navbar-brand" href="#">Candice's Art</a>

  <div class="collapse navbar-collapse list-group" id="navbarResponsive">
    <div class="navbar-nav">
      <a class="lined_thick" routerLink="/dashboard" routerLinkActive="active">
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;
        <span>Accueil</span>
      </a>
      <a class="btn skip" [routerLink]="['/board']" routerLinkActive="active">
        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
        <span class="hover-bg reset">
          <span class="hover-text reset">Sur la toile</span>
        </span>
      </a>
      <a
        class="dotted_thin"
        [routerLink]="['/bonnet']"
        routerLinkActive="active"
      >
        <i class="fa fa-fw fa-table"></i>&nbsp;
        <span>Sortez couvert</span>
      </a>
      <a
        class="dashed_thin"
        [routerLink]="['/contact']"
        routerLinkActive="active"
      >
        <i class="fa fa-fw fa-edit"></i>&nbsp;
        <span>Contactez-nous</span>
      </a>
    </div>
  </div>
  <!-- <div
    class="toggle-button"
    [ngClass]="{ collapsed: collapsed }"
    (click)="toggleCollapsed()"
  >
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i
    >&nbsp;
    <span>{{ "Reduire" | translate }}</span>
  </div> -->
</nav>
