$topnav-background-color: #222;
:host {
  .navbar {
    background-color: $topnav-background-color;
    .navbar-brand {
      color: #fff;
    }
    .nav-item > a {
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
}

$topnav-background-color: #222;

@media screen and (max-width: 992px) {
  .sidebar {
    top: 54px;
    left: 0px;
  }
}
@media print {
  .sidebar {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .header-fields {
    display: none;
  }
}

.collapsed {
  width: 60px;
  span {
    display: none;
  }
}

.navbar-nav {
  // padding:30px;
  background: #222;
  justify-content: center;
  & a {
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all 0.5s ease;
    color: #41403e;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 10px 28px 24px -16px hsla(0, 0%, 0%, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 7px #41403e;

    &:hover {
      color: white;
      background: green;
    }
    &.active {
      background: rgba(255, 99, 99, 0.651);
      color: white;
    }
  }
}
