$topnav-background-color: #222;
:host {
  .navbar {
    background-color: $topnav-background-color;
    .navbar-brand {
      color: #fff;
    }
    .nav-item > a {
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
}

$topnav-background-color: #222;

@media screen and (max-width: 992px) {
  .sidebar {
    top: 54px;
    left: 0px;
  }
}
@media print {
  .sidebar {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .header-fields {
    display: none;
  }
}

.collapsed {
  width: 60px;
  span {
    display: none;
  }
}

.a,
.lined.thick,
.dotted_thick {
  border: solid 7px #41403e;
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.lined.thick {
  border: solid 7px #41403e;
}
.dotted.thick {
  border: dotted 5px #41403e;
}
