<nav
  class="Sidebar"
  id="mainNav"
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
>
  <a class="navbar-brand" href="#">Candice's Art</a>

  <div class="collapse navbar-collapse list-group" id="navbarResponsive">
    <div class="navbar-nav">
      <a
        routerLink="/dashboard"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;
        <span>Accueil</span>
      </a>
      <a
        [routerLink]="['/board']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
        <span>Sur la toile</span>
      </a>
      <!-- <a
        [routerLink]="['/tables']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-table"></i>&nbsp;
        <span>Sortez couvert</span>
      </a>
      <a
        [routerLink]="['/forms']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-edit"></i>&nbsp;
        <span>Contactez-nous</span>
      </a> -->
    </div>
  </div>
  <!-- <div
    class="toggle-button"
    [ngClass]="{ collapsed: collapsed }"
    (click)="toggleCollapsed()"
  >
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i
    >&nbsp;
    <span>{{ "Reduire" | translate }}</span>
  </div> -->
</nav>
