<script
  type="text/javascript"
  src="../../../../assets/particular/particles.js"
></script>
<script
  type="text/javascript"
  src="../../../../assets/particular/app.js"
></script>
<link rel="stylesheet" href="../../../../assets/particular/style.css" />
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="particles-js">
  <a
    class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
    href="#"
    >Start Bootstrap</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="particles-js"></div>
</nav>
